<p id="notice"><%= notice %></p>

<p>
  <strong>Subject Number:</strong>
  <%= @subject.subjectNumber %>
</p>

<p>
  <strong>Age:</strong>
  <%= @subject.age %>
</p>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
